################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/vs_html/v15
/.vs/slnx.sqlite
